.seatselected {
  background-color: green;
}
.seathandicapSeat {
  background-color: orange;
}
.seatselectedhandicapSeat {
  background-color: green;
}

.seatbooked {
  background-color: red;
  pointer-events: none;
}

.number {
  user-select: none;
}
