.seatselected {
  background-color: green;
}
.seathandicapSeat {
  background-color: orange;
}
.seatselectedhandicapSeat {
  background-color: green;
}

.seatbooked {
  background-color: red;
  pointer-events: none;
}

.number {
  user-select: none;
}

.to-payment-btn-link {
  color: #242424 !important;
}

.to-payment-btn:hover .to-payment-btn-link {
  color: #fff !important;
}