main {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.route-card {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  background: rgb(0 0 0 / 22%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  display: inline-flexbox;
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: 20px;
  p {
    font-size: 20px;
  }
}
