.login-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.Heading {
  margin-bottom: 3%;
}

.Heading h1 {
  font-size: 3rem;
}

.email-login {
  margin-top: 2%; 
}

.Register-heading {
  margin-top: 8%;
  text-align: center;
}

.btn {
  margin-top: 1%;
}

.Register-btn {
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #242424;
  padding: 8px 20px;
  border: 1px solid #242424;
  padding: 12px 26px;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.Register-btn:hover {
  background: #242424;
  color: var(--primary);
}

