:root {
  --primary: #fff !important;
  --secondary: #242424 !important;
}

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.Heading {
  margin-bottom: 3%;
}

.Heading h1 {
  font-size: 3rem;
}

.Register-heading {
  margin-top: 8%;
  text-align: center;
}

.Register-heading h5 {
  font-weight: 300;
}

.form-group {
  margin-bottom: 20px;
}

.log-btn,
.reg-btn {
  display: grid !important;
}

.login-btn,
.register-btn,
.book-search-btn,
.back-btn,
.to-payment-btn,
.pay-btn {
  background-color: transparent !important;
  color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
  transition: all 0.3s ease-out;
  padding: 8px 20px !important;
  font-size: 20px !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}

.login-btn:hover,
.register-btn:hover,
.book-search-btn:hover,
.back-btn:hover,
.to-payment-btn:hover,
.pay-btn:hover {
  background: var(--secondary) !important;
  color: var(--primary) !important;
  transition: all 0.3s ease-out !important;
}

.disabledPayment {
  pointer-events: none;
  opacity: 0.4;
}
