.login-container, .register-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.Heading {
  margin-bottom: 3%;
}

.Heading h1 {
  font-size: 3rem;
}

.Register-heading {
  margin-top: 8%;
  text-align: center;
}

.Register-heading h5 {
  font-weight: 300;
}

.form-group {
  margin-bottom: 20px;
}


