/*Om vi override bootstrap variables:

1. //Bootstrap variable overrides (måste komma innan import bootstrap!):
$body-bg: black; (tex)
$body-color: white; (tex)

2. //Import Bootastrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 

3. //Import our own scss (could be several files)
@import "./sticky-footer";
@import "./body";
*/
// Bootstrap css
@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import '../node_modules/bootstrap/scss/bootstrap';
// Our own css
@import '/scss/Header.scss';
@import '/scss/LogInPage.scss';
@import '/scss/StartPage.scss';
@import '/scss/Button.scss';
@import '/scss/Footer.scss';
@import '/scss/displayRoutes.scss';
@import '/scss/Train.scss';
@import '/scss/PlusMinus.scss';
@import '/scss/Carriage.scss';

// Behövs för header
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.accordion-button:not(.collapsed) {
    color: #242424 !important;
    background-color: #fff !important;
}
.bookingForm {
  text-align: center !important;
  padding: 15% !important;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 800px) {
  .bookingForm {
    padding: 0 !important;
  }
}

