.home {
  background-image: url('../public/images/startpage-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.356);
}

.btn {
  padding-top: 5%;
}

.home-book-btn {
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  padding: 12px 26px;
  font-size: 20px;
  transition-duration: 0.4s;
}

.home-book-btn:hover {
  background: #fff;
  color: #242424;
  transform: scale(1.05);
}

@media screen and (max-width: 960px) {
  .text {
    font-size: 2rem;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 1.5rem;
    margin-top: -100px;
  }
}