.vagn1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 16%;
  background-color: red;
  opacity: 0;
}
.vagn2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 19%;
  background-color: red;
  opacity: 0;
}
.vagn3 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 21%;
  background-color: red;
  opacity: 0;
}
.vagn4 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 23%;
  background-color: red;
  opacity: 0;
}
.vagn5 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 26%;
  background-color: red;
  opacity: 0;
}
.vagn6 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 28%;
  background-color: red;
  opacity: 0;
}

.wrapperTrain {
  height: 140px;
  float: none;
  width: 100%;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-y: hidden;
}
.train {
  width: 1300px;
  height: 1000px;
  background-repeat: no-repeat;
}
