// Train 1
.vagn1-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 16%;
  background-color: red;
  opacity: 0;
}
.vagn2-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 19%;
  background-color: red;
  opacity: 0;
}
.vagn3-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 21%;
  background-color: red;
  opacity: 0;
}
.vagn4-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 23%;
  background-color: red;
  opacity: 0;
}
.vagn5-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 26%;
  background-color: red;
  opacity: 0;
}
.vagn6-1 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 28%;
  background-color: red;
  opacity: 0;
}

// Train 2
.vagn1-2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 16%;
  background-color: red;
  opacity: 0;
}
.vagn2-2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 19%;
  background-color: red;
  opacity: 0;
}
.vagn3-2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 21%;
  background-color: red;
  opacity: 0;
}
.vagn4-2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 23%;
  background-color: red;
  opacity: 0;
}
.vagn5-2 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 148px !important;
  top: 5%;
  left: 26%;
  background-color: red;
  opacity: 0;
}

// Train 3
.vagn1-3 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 250px !important;
  top: 5%;
  left: 20%;
  background-color: red;
  opacity: 0;
}
.vagn2-3 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 250px !important;
  top: 5%;
  left: 20%;
  background-color: red;
  opacity: 0;
}
.vagn3-3 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 250px !important;
  top: 5%;
  left: 20%;
  background-color: red;
  opacity: 0;
}
.vagn4-3 {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 250px !important;
  top: 5%;
  left: 20%;
  background-color: red;
  opacity: 0;
}

.wrapperTrain {
  height: 140px;
  float: none;
  width: 100%;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-y: hidden;
  margin-top: 200px;
}
.train {
  width: 1300px;
  height: 1000px;
  background-repeat: no-repeat;
}

.directionLeft {
  height: 102px;
  width: 10%;
  display: flex;
  background-size: 90% 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-position: center;
}
.directionRight {
  height: 102px;
  width: 10%;
  display: flex;
  flex-direction: column;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.directionLeft h2 {
  transform: rotate(-180deg);
  font-size: 20px;
}
.directionRight h2 {
  font-size: 20px;
  margin-top: 80px;
}
.direction-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
