.vagn1 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: -561px;
  position: absolute;
  opacity: 0;
}
.vagn2 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: -384px;
  position: absolute;
  opacity: 0;
}
.vagn3 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: -203px;
  position: absolute;
  opacity: 0;
}
.vagn4 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: -25px;
  position: absolute;
  opacity: 0;
}
.vagn5 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: 152px;
  position: absolute;
  opacity: 0;
}
.vagn6 {
  cursor: pointer;
  width: 165px;
  background-color: red;
  margin-top: 50px;
  margin-left: 336px;
  position: absolute;
  opacity: 0;
}
.train {
  width: 80%;
  height: 130px;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 93px;
}
